{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for each_item in items_list %}
          <li>Task: {{ each_item.name }} | URL: {{each_item.shortUrl }} | ID: {{each_item.id}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/additem" method="post" class="form-example">
    <div class="form-example">
      <label for="name">New To-Do item: </label>
      <input type="text" name="new-todo" required>
    <div class="form-example">
      <input type="submit" value="Add">
    </div>
  </form>

{% endblock %}